# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/CircleMovement.dir/build.make
CMakeFiles/CircleMovement.dir/cmake_clean.cmake
CMakeFiles/CircleMovement.dir/compiler_depend.make
CMakeFiles/CircleMovement.dir/compiler_depend.ts
CMakeFiles/CircleMovement.dir/depend.make
CMakeFiles/CircleMovement.dir/DependInfo.cmake
CMakeFiles/CircleMovement.dir/flags.make
CMakeFiles/CircleMovement.dir/link.txt
CMakeFiles/CircleMovement.dir/progress.make
CMakeFiles/Progress/1
CMakeFiles/Progress/count.txt
